DEBUG=False
TZ=UTC
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=
AWS_S3_CUSTOM_DOMAIN=

REDIS=localhost
FLOWER_UNAUTHENTICATED_API=true

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

DJANGO_SECRET_KEY=

NGROK_AUTHTOKEN=
NGROK_STATIC_DOMAIN=

SANDBOX_NOWPAYMENTS_API_URL=https://api-sandbox.nowpayments.io/v1
SANDBOX_NOWPAYMENTS_API_KEY=
SANDBOX_NOWPAYMENTS_IPN_SECRET=

SANDBOX_CRYPTOBOT_API_URL=https://testnet-pay.crypt.bot/api
SANDBOX_CRYPTOBOT_API_KEY=

NOWPAYMENTS_API_URL=https://api.nowpayments.io/v1
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=

CRYPTOBOT_API_URL=https://pay.crypt.bot/
CRYPTOBOT_API_KEY=

SENTRY_DSN=

FRONTEND_VIRTUAL_HOST=
FRONTEND_LETSENCRYPT_HOST=

BACKEND_VIRTUAL_HOST=
BACKEND_LETSENCRYPT_HOST=

DEFAULT_EMAIL=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

ADMIN_WEBHOOK_SECRET=

