.*

__pycache__/
*.py[cod]
*$py.class

backend/media/
backend/staticfiles/
config/business/*.yaml
config/frontend/*.yaml
celerybeat-schedule
celerybeat.pid
db_backup.json

!.prettierrc
!.gitignore
!.gitattributes
!.github
!.env.example
!config/business/*.example.yaml
!config/frontend/*.example.yaml
